
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
td {
 display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: default;

}

thead td {
  background: lightgrey;
}
.puk
{
  width: 189px;
  background-color: lightgrey;
}
.butt
{
  width: 30px;
}
.tab
{
  border-collapse: collapse;
}
.NowDay
{
    background:#9fc4ee ;
}